@import 'src/variables';

.header-bar {
  height: 2rem;
  // Remove background-color to prevent the second colored box
  // background-color: map-get($custom-colors, color4);
}

.header-text {
  color: theme-color("light");
}
