@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$theme-colors: (
  primary: #103444,
  secondary: #23d5ab,
  tertiary: #606c71,
  quaternary: #693c15,
  quinary: #fff9e3,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: #505050
);
$custom-colors: (
  color1: #f669a3,
  color2: #1faf19,
  color3: #d2782a,
  color4: #505050,
  color5: #0ba4f6,
);

html {
  height: 100%;
  //overflow: -moz-scrollbars-vertical;
  //overflow-y: scroll;
}

body {
  font-size: 1.1rem !important;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

a {
  color: theme-color("primary");
}

a:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

.container-wide {
  max-width: 1200px;
}

.flex-grow {
  flex: 1 0 auto;
}

.hf {
  font-family: 'Lato', sans-serif;
}

