version: '3.8'

services:
  osai-ui:
    build: .
    container_name: osai-ui-dev
    ports:
      - "4200:4200"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
