@import 'src/variables';

.footer-bar {
  background-color: #103344; // Updated to new blue color
  color: white !important;
}

.img-logo {
  height: 3rem;
}

.footer-text {
  max-width: 30rem;
  line-height: 1;
}
